{% extends "master.html" %} {% block bodyblock %}
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header bg-success text-light">
          Spesifikasi Batu Bara Pertama
        </div>
        <div class="card-body">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Pemasok</label
            >
            <select class="form-control" id="pemasok1" name="pemasok1">
              <option value="00" hidden>-- Pilih Pemasok Pertama --</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="kalori1" class="form-label">Nilai Kalori</label>
            <input
              type="number"
              class="form-control"
              id="kalori1"
              name="kalori1"
              placeholder="Masukan nilai kalori pemasok pertama" />
          </div>
          <div class="mb-3">
            <label class="form-label" for="persentase1"
              >Persentase Kalori</label
            >
            <div class="row">
              <div class="col-md-10">
                <input
                  type="number"
                  class="form-control"
                  id="persentase1"
                  onchange="kaloriPertama(this.value)"
                  name="persentase1"
                  placeholder="Masukan persentase" />
              </div>
              <h4 class="col-md-2">%</h4>
            </div>
          </div>
          <div class="mb-3">
            <label for="kuantitas1" class="form-label">Kuantitas</label>
            <input
              type="number"
              class="form-control"
              id="kuantitas1"
              name="kuantitas1"
              placeholder="Masukan kuantitas" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="mb-3">
        <div class="d-flex flex-row justify-content-center">
          <label for="kalori_target" class="form-label"
            ><h4 class="text-light">Target Kalori</h4></label
          >
        </div>
        <div class="d-flex flex-row justify-content-center">
          <input
            type="number"
            class="form-control"
            style="width: 20em; height: 4em"
            id="kalori_target"
            onchange="targetKalori(this.value)"
            placeholder="Masukkan Target Kalori" />
        </div>
      </div>
      <div class="mb-3">
        <div class="d-flex flex-row justify-content-center">
          <label for="operator" class="form-label"
            ><h4 class="text-light">Operator</h4></label
          >
        </div>
        <div class="d-flex flex-row justify-content-center">
          <input
            type="text"
            class="form-control"
            style="width: 20em; height: 4em"
            id="operator"
            placeholder="Masukkan Nama Operator" />
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card">
        <div class="card-header bg-danger text-light">
          Spesifikasi Batu Bara Kedua
        </div>
        <div class="card-body">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Pemasok</label
            >
            <select class="form-control" id="pemasok2" name="pemasok2">
              <option value="00" hidden>-- Pilih Pemasok Kedua --</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="kalori2" class="form-label">Nilai Kalori</label>
            <input
              type="number"
              class="form-control"
              id="kalori2"
              name="kalori2"
              placeholder="Masukan nilai kalori pemasok kedua" />
          </div>
          <div class="mb-3">
            <label for="persentase2" class="form-label"
              >Persentase Kalori</label
            >
            <div class="row">
              <div class="col-md-10">
                <input
                  type="number"
                  class="form-control"
                  onchange="kaloriKedua(this.value)"
                  id="persentase2"
                  name="persentase2"
                  placeholder="Masukan persentase " />
              </div>
              <h4 class="col-md-2">%</h4>
            </div>
          </div>
          <div class="mb-3">
            <label for="kuantitas2" class="form-label">Kuantitas</label>
            <input
              type="number"
              class="form-control"
              id="kuantitas2"
              name="kuantitas2"
              placeholder="Masukan kuantitas" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col my-5">
    <div class="row-md-5 d-flex flex-row justify-content-center mb-5">
      <div class="card w-50">
        <div class="card-header bg-warning text-light">Bio Mass</div>
        <div class="card-body">
          <div class="mb-3">
            <label class="form-label" for="bio_kalori">Nilai Kalori</label>
            <input
              type="number"
              class="form-control"
              value="1800"
              id="bio_kalori"
              name="bio_kalori"
              placeholder="Masukan nilai kalor pemasok pertama" />
          </div>
          <div class="mb-3">
            <label class="form-label" for="bio_kalori">Persentase Kalori</label>
            <div class="row">
              <div class="col-md-10">
                <input
                  type="number"
                  class="form-control"
                  id="bio_persentase"
                  name="bio_persentase"
                  placeholder="Masukan persentase bio mass" />
              </div>
              <h4 class="col-md-2">%</h4>
            </div>
          </div>
          <div class="mb-3">
            <label for="bio_kuantitas" class="form-label">Kuantitas</label>
            <input
              type="number"
              class="form-control"
              id="bio_kuantitas"
              name="bio_kuantitas"
              placeholder="Masukan kuantitas bio mass " />
          </div>
        </div>
      </div>
    </div>
    <div class="row-md-2">
      <div class="mb-3">
        <div class="d-flex flex-column align-content-center">
          <div class="d-flex flex-row justify-content-center">
            <button
              type="button"
              onclick="blendCalories()"
              class="btn btn-info w-25">
              Blend
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row-md-5 d-flex flex-row justify-content-center mb-5">
      <div class="card w-50 d-none" id="hasil_kalori">
        <div class="card-header bg-primary text-light">Hasil Kalori</div>
        <div class="card-body">
          <div class="mb-3">
            <label class="form-label" for="target_kalori">Target Kalori</label>
            <input
              type="number"
              class="form-control"
              id="target_kalori"
              name="target_kalori"
              placeholder="Masukan nilai kalor pemasok pertama"
              disabled />
          </div>
          <div class="mb-3">
            <label class="form-label" for="target_kalori">Nama Operator</label>
            <input
              type="text"
              class="form-control"
              id="nama_operator"
              name="nama_operator"
              placeholder="Masukan nama operator"
              disabled />
          </div>
          <div class="mb-3">
            <label class="form-label" for="total_kalori">Nilai Kalori</label>
            <input
              type="number"
              class="form-control"
              id="total_kalori"
              name="total_kalori"
              placeholder="Masukan nilai kalor pemasok pertama" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/calculate.js') }}"></script>

{% endblock %}
