{% extends "master.html" %} {% block bodyblock %}
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header bg-success text-light">
          Spesifikasi Batu Bara Pertama
        </div>
        <div class="card-body">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Pemasok</label
            >
            <select class="form-control" id="pemasok1" name="pemasok1">
              <option value="00" hidden>-- Pilih Pemasok Pertama --</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"
              >Nilai Kalor</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="name@example.com"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"
              >Total Moisture</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="name@example.com"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"
              >Total Sulfur</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="name@example.com"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"
              >Kadar Abu</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="name@example.com"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="mb-3">
        <div class="d-flex flex-row justify-content-center">
          <label for="exampleFormControlTextarea1" class="form-label"
            ><h4 class="text-light">Target Kalori</h4></label
          >
        </div>
        <div class="d-flex flex-row justify-content-center">
          <input
            type="number"
            class="form-control"
            style="width: 20em; height: 4em"
            id="exampleFormControlInput1"
            placeholder="Masukkan Target Kalori"
          />
        </div>
      </div>
      <div class="mb-3">
        <div class="d-flex flex-row justify-content-center">
          <label for="exampleFormControlTextarea1" class="form-label"
            ><h4 class="text-light">Operator</h4></label
          >
        </div>
        <div class="d-flex flex-row justify-content-center">
          <input
            type="text"
            class="form-control"
            style="width: 20em; height: 4em"
            id="exampleFormControlInput1"
            placeholder="Masukkan Nama Operator"
          />
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card">
        <div class="card-header bg-danger text-light">
          Spesifikasi Batu Bara Kedua
        </div>
        <div class="card-body">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Pemasok</label
            >
            <select class="form-control" id="pemasok2" name="pemasok2">
              <option value="00" hidden>-- Pilih Pemasok Kedua --</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"
              >Nilai Kalor</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="name@example.com"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"
              >Total Moisture</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="name@example.com"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"
              >Total Sulfur</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="name@example.com"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"
              >Kadar Abu</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="name@example.com"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
