{% extends "master.html" %} {% block bodyblock %}
<div class="container-fluid mt-5 w-75">
  <div class="card">
    <h5 class="card-header bg-info">Prediction</h5>
    <div class="card-body">
      <form>
        <div class="mb-4">
          <label class="card-title form-label"><h6>Target:</h6></label>
          <select
            onchange="chooseTarget(this.value)"
            class="form-control"
            name="target"
            id="target"
          >
            <option value="00" selected hidden>--Pilih Target--</option>
          </select>
          <div
            id="validation-target"
            class="alert alert-danger d-flex align-items-center d-none"
            role="alert"
          >
            <div>Please select target</div>
          </div>
        </div>
        <div class="mb-4">
          <label class="card-title form-label"><h6>Supplier:</h6></label>
          <select
            onchange="supplierChange(this.value)"
            class="form-control"
            name="supplier"
            id="supplier"
          >
            <option value="00" selected hidden>--Pilih Supplier--</option>
          </select>
          <div
            id="validation-supplier"
            class="alert alert-danger d-flex align-items-center d-none"
            role="alert"
          >
            <div>Please select supplier</div>
          </div>
        </div>
        <div class="mb-4">
          <label class="card-title form-label"><h6>Sumber Tambang:</h6></label>
          <select class="form-control" name="tambang" id="tambang">
            <option value="00" selected hidden>--Pilih Sumber Tambang--</option>
          </select>
          <div
            id="validation-tambang"
            class="alert alert-danger d-flex align-items-center d-none"
            role="alert"
          >
            <div>Please select sumber tambang</div>
          </div>
        </div>
        <hr />
        <div class="mb-4">
          <label class="card-title form-label"><h6>TM ARB:</h6></label>
          <input
            type="number"
            value="30.00"
            class="form-control"
            id="arb"
            name="arb"
          />
          <div
            id="validation-arb"
            class="alert alert-danger d-flex align-items-center d-none"
            role="alert"
          >
            <div>Please fill out this field</div>
          </div>
        </div>
        <div class="mb-4">
          <label class="card-title form-label"
            ><h6>Ash Content ARB Loading:</h6></label
          >
          <input
            type="number"
            value="5.00"
            class="form-control"
            id="ash"
            name="ash"
          />
          <div
            id="validation-ash"
            class="alert alert-danger d-flex align-items-center d-none"
            role="alert"
          >
            <div>Please fill out this field</div>
          </div>
        </div>
        <div class="mb-4">
          <label class="card-title form-label"><h6>GCV ARB Loading:</h6></label>
          <input
            type="number"
            value="4800"
            class="form-control"
            id="gcv"
            name="gcv"
          />
          <div
            id="validation-gcv"
            class="alert alert-danger d-flex align-items-center d-none"
            role="alert"
          >
            <div>Please fill out this field</div>
          </div>
        </div>
        <button type="button" onclick="prediction()" class="btn btn-success">
          Predict
        </button>
      </form>
    </div>
  </div>
  <div class="my-4">
    <h4 class="text-light font-bold">Target: <span id="target_info"></span></h4>
    <table id="table" class="table d-none bg-light">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Suppliers</th>
          <th scope="col">Sumber Tambang</th>
          <th scope="col">TM ARB.1</th>
          <th scope="col">Ash Content ARB.1</th>
          <th scope="col">GCV ARB.1</th>
          <th scope="col"><span id="target_prediction"></span></th>
        </tr>
      </thead>
      <tbody id="result"></tbody>
    </table>
    <h4 id="score" class="text-light"></h4>
  </div>
</div>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
